.home{

    // new listings title
    .new-listings-title{ 
        color: #444;
        font-size: 42px;
        text-align: center;
        margin-top: 3em;
        margin-bottom: 1em;
    }

    // offer
    .offer{
        color: #444;
        line-height: 1.2;
        width: 85%;
        margin: 6em auto;
        margin-top: 10em;
        display: flex;
        flex-wrap: wrap;

        .offer-details{
            max-height: fit-content;
            width: 530px;
            max-width: 95%;
            margin: 0 auto;
            margin-left: -200px;
            padding: 1em;
            display: flex;
            flex-wrap: wrap;
        }

        p{
            font-size: 18px;
            max-width: 95%;
        }

        h1{
            font-size: 58px;
            font-weight: 600;
        }

        h2{
            font-size: 52px;
            font-weight: 600;
        }

        img{
            max-height: 500px;
            max-width: 100%;
        }

        .percent-box{
            width: 180px;

            p{
                font-weight: 600;
                font-size: 16px;
            }

            h3{
                color: #D89E1A;
                font-weight: 600;
                font-size: 46px;
            }
        }
    }
}

// Responsive

// XLG 
@media (max-width: 1290px) {
.home{
    .offer{
        .offer-details, img{
            margin: 0 auto;
            max-height: 100%;
        }

        p{
            margin: 2em 0;
        }

        .percent-box{
            p{
                margin: 0;
            }
        }

        img{
            margin-bottom: 3em;
        }
    }

}
}

// Custom
@media (max-width: 620px) {
.home{
    .offer{

        margin-top: 5em;

        h1{
            font-size: 42px;
        }

        h2{
            font-size: 38px;
        }

        .offer-details{
            padding: 0;
        }

        .percent-box{
            width: 100%;
            margin: 1em auto;
        }
    }
}
}