.enquiries{
    a:last-child{
        margin-bottom: 5em;
    }
}

.enquiry-card{
    display: block;
    margin: 1em auto;
    padding: 1em;
    width: 70%;

    border-bottom: 1px solid #999;
    color: black;
    text-decoration: none;

    p{
        color: #444;
        font-size: 18px;
        font-weight: 500;

        span{
            color: #D89E1A;
        }

        &:last-child{
            margin-left: 20%;
        }
    }

    h3{
        font-size: 24px;
        font-weight: 600px;
        padding: 2px 0;
    }

    &:hover h3{
        text-decoration: underline;
    }
}

// Responsive

// L
@media (max-width: 900px) {

    .enquiry-card{
        width: 90%;
    }

}

// SM
@media (max-width: 500px) {

    .enquiry-card{

        p{
                font-size: 14px;
        }

        h3{
            font-size: 20px;
        }

    }
    

}