.search-specific{
    display: block;
    margin: 3em auto;
    margin-bottom: .2em;
    color: #333;
    background-color: #e9e9e9;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 18px;
    width: 400px;
    max-width: 90%;

    &:focus{
        outline: none;
        border: 1px solid #D89E1A;
    }
}

.specific-results{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fcfcfc;
    border-radius: 8px;
    width: 400px;
    max-height: 360px;
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    font-size: 18px;

    a{
        padding: 1em;
        color: #444;
        text-decoration: none;
        border-bottom: 1px solid #666;

        &:hover{
            color: #D89E1A;
        }
    }
}

.specific-results::-webkit-scrollbar {
    width: 14px;
}

.specific-results::-webkit-scrollbar-thumb {
    background: #666; 
    border-radius: 4px;
}

.specific-results::-webkit-scrollbar-thumb:hover {
    background: #D89E1A;
}