@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
}

.App{
    max-width: 1300px;
    min-height: 100vh;
    margin: 0 auto;
}

.button{
    background-color: #D89E1A;
    color: white;
    cursor: pointer;
    border: none;
    padding: .5rem 1.5rem;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #D89E1A;
}